.page {
	height: 100vh;
	margin-top: -100px;
}

.wrapper {
	max-width: 1140px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
}
